requests_oauthlib
jinja2>=2.11.1
markdown>=3.2
mkdocs>=1.2.3
mkdocs-material-extensions>=1.0
pygments>=2.10
pymdown-extensions>=9.0
mkdocs-material
click
click-plugins
click-config-file
pytest
pytest-cov
pyflakes
mkdocstrings
mkdocs-click
mkdocs-autolinks-plugin
mkdocs-jupyter
mkdocs-exclude
mkdocs-exclude-search
mkdocs-macros-plugin
mkdocs-print-site-plugin
mkdocs-pdf-export-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-windmill
mkdocs-img2fig-plugin
mkdocs-rss-plugin==0.13.0